body {
  box-sizing: border-box;
  margin: 0px;
}

#portfolioTitle {
  -webkit-touch-callout: none;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;

  position: fixed;
  z-index: 3;

  top: 0px;
  left: 0px;

  width: 100vw;
  height: 50px;

  background-color: #323232;

  color: white;
}

#gitLink2 {
  position: fixed;

  top: 50vh;
  left: 73vw;

  width: 100vh;
  height: 0vh;

  color: #828282;

  transform: rotate(-90deg);
}

p {
  text-align: center;
}
