#timebar {
  position: absolute;
  z-index: 3;

  left: 40px;

  width: 13px;

  border-radius: 3px 3px;
}

#title,
#startTime {
  position: absolute;

  font-size: 26px;
}

#DetailBlock {
  -webkit-touch-callout: none;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;

  position: absolute;

  right: 3vw;

  height: 34px;
  width: 130px;

  color: white;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 3px 3px;
}

#DetailBlock:hover {
  color: #323232;
}

#startTimeLine {
  position: absolute;

  left: 40px;

  width: 92vw;
  height: 3px;

  border-radius: 1.5px 1.5px;
}

p {
  text-align: center;
}
